H1{
    color:yellowgreen;
}

.header{
    display:flex;
    justify-content:space-between; 
}

.menu{
    display:flex;
    justify-content:space-between; 
    background-color: black;
    padding:15px;
    font-size:20px;
    font-family: sans-serif;
    font-weight:400;
    color:#ffffff;
}
body{
    margin:0px;
    background-color:#ffffff;
    opacity: 0.9;
    float: left;
}

.bodyimg{
    display:flex;
    justify-content:space-between; 
    color:#00028b;
border-left-width: 2px;
border-bottom-width:2px;
float:left;
font-size: 30px;
tab-size: 6;
}

.bodyimg{
    position:relative;
}

.bodyimg p{
    color:#000000;
    font-size: 20px;
    font-family:fantasy;
    position:absolute;
    top:40%;
    left:68%;
    transform:translate(-50%,-50%);
}

.grid{
display:flex;
flex-wrap: wrap;
margin: 30px;
border:2px solid #000000;
border-radius: 50px;
float:left;
max-width: 500px;
}

.origami{
border-radius: 20px;
background-color: #ffffff;
padding: 30px;
margin: 25px;
width:310px;
font-family: fantasy;
color:#00008b;
box-shadow: 5px -5px;
}

.origami:hover{
transform:scale(1,2);
}

a:link{
color:#ffffff;
}

a:visited{
    color:#ffffff;
}